
body
{
background-image: url("back.png");
 background-size: 120% 120%;
 font-family: 'Homemade Apple', cursive;
color: rgba(255,255,240,.5);
}

#picture
{
  height: 10em;
  width: 10em;
  background: rgba(255,255,255,.1);
  margin-left: auto;
  margin-right: auto;  
}

h1 {
 text-align:center;
 margin-bottom:0px;
}

h2 {
 font-size: 300%;
 text-align:center;
 margin-bottom:0px;
 margin-top:0px;
}

h3 {
 font-size: 200%;
 margin-bottom: 0px;
 margin-top: 0px;
 text-align:center;
}

.let
{
 display: inline-block;
 text-align: center;
 width: 1em;
 margin-right:.1em;
 background-size: 100% 100%;
}

.letterbutton {
  color: #CCC;
  margin-left:.1em;
}

.letterbutton.error {
  color: #F00;
  opacity: .4;
}

.letterbutton.matched {
  color: #999;
  opacity: .2;
}





.b1
{
 background-image: url("l_back1.png");
 }

.b2
{
 background-image: url("l_back2.png");
 }


.b3
{
 background-image: url("l_back3.png");
 }